<img src="/assets/img/single_user.png" class="mx-auto d-block">
<form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" #UserName="ngModel" name="Email" [(ngModel)]="formModel.Email" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-primary btn-block btn-round" [disabled]="form.invalid">Login</button>
    </div>
  </div>
</form>